<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tsum3_helper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{116,0},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_shaking0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{219,0},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_shaking1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,113}</string>
                <key>spriteSourceSize</key>
                <string>{101,113}</string>
                <key>textureRect</key>
                <string>{{322,0},{101,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_shaking2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{101,110}</string>
                <key>textureRect</key>
                <string>{{423,0},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_shaking3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,111}</string>
                <key>spriteSourceSize</key>
                <string>{99,111}</string>
                <key>textureRect</key>
                <string>{{524,0},{99,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsum3_shaking4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{623,0},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tsum3.png</string>
            <key>size</key>
            <string>{723,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f58159525757694d12623037771a9400:7de9f153251169601d6a126bcca39916:87975f4ae55d7f198f1c0d166c9976e2$</string>
            <key>textureFileName</key>
            <string>tsum3.png</string>
        </dict>
    </dict>
</plist>
