<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{512,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{640,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{768,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{0,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{124,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{248,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{372,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{496,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{620,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{744,128},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{0,251},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitted0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{124,251},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitted1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{252,251},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitted2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{380,251},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitted3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{508,251},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,128}</string>
                <key>spriteSourceSize</key>
                <string>{320,128}</string>
                <key>textureRect</key>
                <string>{{636,251},{320,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{956,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebfb2c5bdf3e602d522521136fa4b96c:c3cb7cf00336b61b797b950a8b2f71eb:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
